<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Engineers Smart Assistant</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
</head>

<body>

    <div class="b-header-nav">
        <div class="top-nav-elements">
            <a class="b-header-logo" href="#"><img src="assets/LogoUpdated.png" alt="PEPCO Logo"></a>
            <div class="navlinks">
                <div class="topnav">
                    <span><a href="#home">Home</a></span>
                    <span><a href="#news">News</a></span>
                    <span><a href="#contact">Contact</a></span>
                    <span><a href="#about">About</a></span>
                </div>
                <hr class="separator">
                <div class="bottomnav">
                    <span><a href="#home">Pepone modpack</a></span>
                    <span><a href="#news">iSurvival</a></span>
                    <span><a href="#contact">Item spawner</a></span>
                    <span><a href="#about">SE sidekick</a></span>
                    <span><a href="#about">EME</a></span>
                </div>
            </div>
        </div>
    </div>



    <div class="content" id="app">

        <div class="parallax" @dragover.prevent="handleDragOver" @dragenter.prevent="handleDragOver"
            @dragleave.prevent="handleDragLeave">
            <div id="sidekickApp">
                <h1>Space Engineers Sidekick</h1>
                <div v-if="importObject == null">
                    <h2>Welcome to the Space Engineers Sidekick. <p></p>Upload the .json file you created within the
                        game to start.</h2>
                    <div class="flex-center" @drop.prevent="handleDrop" style="flex-direction: row;">
                        <div class="file-upload flex-center">
                            <input type="file" id="fileInput" accept=".json" multiple="false" @change="handleFiles">
                            <label v-if="!isDragging" for="fileInput">Drag and drop files here or click to
                                upload</label>
                            <label v-else for="fileInput">Drop it here</label>
                        </div>
                        <div class="file-upload searchBox" style="margin: 0 auto;">
                            <input class="searchBox button" style="min-width: 300px; min-height: 300px;" type="text"
                                placeholder="paste your content from the mod here"
                                @change="updateImportObject($event.target.value)">
                        </div>
                    </div>

                </div>
                <div v-else>

                    <div class="top-metrics">
                        <span>Total Volume: {{ roundToZero(totalVolume *1000)}}l</span></p>
                        <span>Total Weight: {{totalWeight}}kg</span></p>
                    </div>
                    <h2 @click="visible1 = !visible1" v-bind:class="{ active: visible1 }" class="accordion"
                        style="text-transform: uppercase;">Block List ({{filteredBlocks.length}})</h2>
                    <div v-show="visible1">
                        <table class="block-table">
                            <tr class="table-content">
                                <td>
                                    <div class="searchBox button">
                                        <input class="searchBox" style="flex-grow: 10" type="text" v-model="search"
                                            placeholder="search blocks">
                                        <iconify-icon icon="mdi:remove"
                                            style="color: white; font-size: 2em; flex-grow: .5"
                                            @click="this.search = ''"></iconify-icon>
                                    </div>

                                </td>
                                <td @click="toggleSizeFilter">
                                    <span class="button pointer" style="justify-content: space-around;">
                                        {{this.sizeFilter}}
                                    </span>
                                </td>
                                <td class="secColumn">
                                </td>
                            </tr>
                            <tr class="table-content header">
                                <td>Block Name</td>
                                <td>Block Size</td>
                                <td></td>
                            </tr>
                            <tr v-for="block in filteredBlocks" :key="block.id" :title="componentDisplay(block)">
                                <td
                                    style="display: flex; justify-content: flex-start; align-items: center; width: auto;">
                                    <img :src="lookupIcon(block)" style="width: 2em; margin-right: 1em;" alt="">
                                    <span>{{ block.displayName }}</span>
                                </td>
                                <td>{{ block.size }}</td>
                                <td><iconify-icon class="no-select" icon="mdi:package-variant-plus"
                                        style="color: white; font-size: 2em; flex-grow: .5"
                                        @click="addToSelection($event, block)"></iconify-icon></td>
                            </tr>
                        </table>
                    </div>

                    <h2 @click="visible2 = !visible2" v-bind:class="{ active: visible2 }" class="accordion"
                        style="text-transform: uppercase;">
                        Selected blocks ({{ selectedBlocks.length }})
                    </h2>
                    <div v-show="visible2">
                        <div
                            style="display: flex; justify-content: space-between; align-items: center; margin-left: 1em;">
                            <span class="button no-select" style="width: 100px;"
                                @click="visibleBlockData = !visibleBlockData">show data</span>
                            <input class="button searchBox" v-show="visibleBlockData"
                                style="flex-grow: 2; min-height: 42px; margin-left: 1em;" type="text"
                                v-model="selectedBlocksString" @change="updateSelectedBlocks"
                                placeholder="paste here">
                        </div>
                        <div id="selected-blocks-table">
                            <div class="row header">
                                <div class="firstColumn">
                                    <span>Block Name</span>
                                </div>
                                <div class="secondColumn">
                                    <span>Block Size</span>
                                </div>
                                <div class="thirdColumn" style="justify-self: flex-end;">
                                    <iconify-icon icon="mdi:nuke" style="color: white; font-size: 2em; "
                                        @click="selectedBlocks = []"></iconify-icon>
                                </div>
                            </div>
                            <div class="row" v-for="block in selectedBlocks" :key="block.id" :title="componentDisplay(block)">
                                <div class="firstColumn">
                                    <img :src="lookupIcon(block)" style="width: 2em;"
                                        alt="">
                                    <span>{{ block.displayName }}</span>
                                </div>
                                <div class="secondColumn">
                                    <span>{{ block.size }}</span>
                                </div>
                                <div class="thirdColumn" style="justify-self: flex-end;">
                                    <div class="numberInput button">
                                        <iconify-icon class="no-select" icon="mdi:minus"
                                            style="color: white; font-size: 2em;"
                                            @click="decrementBlockAmount($event, block, index)"></iconify-icon>
                                        <input style="text-align: center; width: 6em;" type="number"
                                            v-model="block.amount" min="0">
                                        <iconify-icon class="no-select" icon="mdi:plus"
                                            style="color: white; font-size: 2em;"
                                            @click="incrementBlockAmount($event, block, index)"></iconify-icon>
                                    </div>
                                    <iconify-icon icon="mdi:delete"
                                        style="color: white; font-size: 2em; margin-left: 5px;"
                                        @click="removeFromSelection($event, block, index)"></iconify-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 @click="visible3 = !visible3" v-bind:class="{ active: visible3 }" class="accordion"
                        style="text-transform: uppercase;">Components ({{componentList.length}})
                    </h2>
                    <div v-show="visible3">
                        <div id="components-table">
                            <div class="row header">
                                <div class="firstColumn">
                                    <span>Component</span>
                                </div>
                                <div class="secondColumn">
                                    <span>Amount</span>
                                </div>
                            </div>
                            <div class="row" v-for="component in componentList" :key="component.id">
                                <div class="firstColumn">
                                   <img :src="lookupIcon(component)" style="width: 2em; margin-right: 1em;" alt="">
                                   <span>{{component.displayName}}</span>
                                </div>
                                <div class="secondColumn" >
                                    <span>{{component.amount}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 @click="visible4 = !visible4" v-bind:class="{ active: visible4 }" class="accordion"
                        style="text-transform: uppercase;">Loadmaster output</h2>
                    <div v-show="visible4">
                        <div>TM SOON</div>
                    </div>
                    <div style="display: flex; justify-content: flex-end; align-items: flex-end; padding-top: 2em;">
                        <span class="button" style="width: 100px;" @click="clearInput">clear upload file</span>
                    </div>

                </div>
            </div>

        </div>

    </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>

</body>

</html>