<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>


    <div id="app">
        <!-- Check if file was loaded -->
        <input type="file" id="blocksInput" @change="onGameFileUpload">
        <p>
            <span v-if="importObject == null">Nothing here</span>
            <span v-else>
                <input type="text" v-model="search" placeholder="search blocks">
                <ul>
                    <li v-for="block in filteredBlocks">
                        {{ block.displayName }}
                        <button @click="addToSelection($event, block)">+1</button>
                    </li>
                </ul>
            </span>
        </p>
        <p>Items in the planner: {{selectedBlocks.length}}</p>
        <ul>
            <li v-for="(block,index) in selectedBlocks">
                {{ block.displayName }} amount: <input type="number" v-model="block.amount">
                <button @click="removeFromSelection($event, block, index)">remove</button>
            </li>
        </ul>
        <h2>Component List</h2>
        <button @click="calculateComponentList">Update component list</button>
        <ul>
            <li v-for="component in componentList">
                {{component.componentID}}: {{component.amount}}
            </li>
        </ul>
    </div>

    <script src="app.js"></script>
</body>

</html>