<html lang="en">

<style>
    #app {
  background-color: lightgrey;
  width: 90%;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.pointer       { cursor: pointer; }

.secColumn {
    width: 10%;
}
.numberInput {
    width: 50%;
}

.header {
    font-weight: bold;
}

table {
  background-color: lightgrey;
  width: 90%;
  border: 1px solid black;
  padding: 5px;
  margin: 20px;
}
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>


    <div id="app">
        <!-- Check if file was loaded -->
        <input type="file" id="blocksInput" @change="onGameFileUpload">
        <span v-if="importObject == null">Nothing here. Please upload a game export file.</span>
        <span v-else>
            <h2>Block List</h2>
            <table>
                <tr>
                    <td>
                        <input type="text" v-model="search" placeholder="search blocks">
                    </td>
                    <td class="secColumn">
                        Size Selection
                    </td>
                    <td class="secColumn">
                        ??
                    </td>
                </tr>
                <tr class="header">
                    <td>Block Name</td>
                    <td>Block Size</td>
                    <td>???</td>
                </tr>
                <tr v-for="block in filteredBlocks">
                    <td>{{ block.displayName }}</td>
                    <td>{{ block.size }}</td>
                    <td class="pointer" @click="addToSelection($event, block)">Add to selection</td>
                </tr>
            </table>

            <h2>Items in the planner: {{selectedBlocks.length}}</h2>
            <table>
                <tr class="header">
                    <td>Block Name</td>
                    <td class="secColumn">Block Size</td>
                    <td class="secColumn">???</td>
                </tr>
                <tr v-for="block in selectedBlocks">
                    <td>{{ block.displayName }}</td>
                    <td>{{ block.size }}</td>
                    <td>
                        <input class="numberInput" type="number" v-model="block.amount" min="0">
                        <button class="pointer" @click="removeFromSelection($event, block, index)">remove</button>
                    </td>
                </tr>
            </table>
            <h2>Component List</h2>

            <ul>
                <li v-for="component in componentList">
                    {{component.componentID}}: {{component.amount}}
                </li>
            </ul>
        </span>
        <p>Total Volume: {{totalVolume}}</p>
        <p>Total Weight: {{totalWeight}}</p>
    </div>

    <script src="app.js"></script>
</body>

</html>